[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/RottenThunder/glfw-Project-Ember
[submodule "Ember/vendor/glm"]
	path = Ember/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Ember/vendor/imgui"]
	path = Ember/vendor/imgui
	url = https://github.com/TheCherno/imgui
